<section style="background-image: url({{bg}})" class="bloco-texto {{content.field_classes.0['#context'].value}}" data-layout="{{slugify(content.field_tema.0["#markup"])}}">
    <div class="container pt-5 pb-5">
        <div class="d-block">
            <h2 class="title mb-4 d-block">{{title}}</h2>
            <div class="text d-block">
                {{content.body}}
            </div>
        </div>        
    </div>
</section>