<footer>
  <div id="newsletter" style="padding-bottom: 15px;"></div>
  
  {% include '@casa_firjan/includes/newsletter.html.twig' with { 
      title: 'DESEJA RECEBER INFORMAÇÕES DA CASA FIRJAN?',
      text: 'Cadastre o seu e-mail e/ou seu celular e fique por dentro de todas as nossas novidades.'
  } %}

  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <p class="title">HORÁRIO DE VISITAÇÃO</p>
          <p style="margin: 0;">
            Terça a domingo: 9h às 19h
          </p>
          <p>
            *Entrada encerrada às 18h30
          </p>
          {#<p>
						<small>
							*A reabertura da Casa Firjan está sendo realizada por etapas. No momento, apenas os jardins estão abertos ao público.
						</small>q
						
					</p>#}
          <p class="title">Endereço</p>
          <p>Rua Guilhermina Guinle, 211, Botafogo<br />CEP 22270-060, Rio de Janeiro – RJ</p>

        </div>
        <div class="col-md-1 col-sm-1 divisao d-sm-block d-none"></div>
        <div class="col-md-3 col-sm-3 col-lg-4">
          <p class="title">Confira nossas redes sociais</p>
          <ul class="redes">
            <li><a href="https://www.instagram.com/casafirjan/" target="_blank"><i class="icon-instagram"></i><span>Siga
                  @casafirjan</span></a></li>
            {# <li><a href="https://www.facebook.com/groups/casafirjan/" target="_blank"><i class="icon-facebook"></i><span>Participe do nosso grupo</span></a></li> #}
            <li><a href="https://www.linkedin.com/company/firjan/" target="_blank"><i
                  class="icon-linkedin"></i><span>Siga a Firjan</span></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4">
          <ul class="logos">
            <li><a href="https://www.firjan.com.br/firjan/" target="_blank"><img
                  src="/{{ base_path ~ directory }}/statics/img/logo-firjan.svg" alt="Logo Firjan" /></a></li>
            <li><a href="https://www.firjan.com.br/senai/" target="_blank"><img
                  src="/{{ base_path ~ directory }}/statics/img/logo-firjan-senai.svg" alt="Logo Senai" /></a></li>
            <li><a href="https://www.firjan.com.br/sesi/" target="_blank"><img
                  src="/{{ base_path ~ directory }}/statics/img/logo-firjan-sesi.svg" alt="Logo Sesi" /></a></li>
            <li><a href="https://www.firjan.com.br/iel/" target="_blank"><img
                  src="/{{ base_path ~ directory }}/statics/img/logo-firjan-iel.svg" alt="Logo Iel" /></a></li>
            <li><a href="https://www.firjan.com.br/firjancirj/" target="_blank"><img
                  src="/{{ base_path ~ directory }}/statics/img/logo-firjan-cirj.svg" alt="Logo Cirj" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="copy">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>© Casa Firjan, {{ "now"|date("Y") }}. Todos direitos reservados.</p>
        </div>
        <div class="col-md-6">
          <ul class="menuFooter">
            <li><a href="https://www.firjan.com.br/">Firjan</a></li>
            {#<li><a href="/termos-de-uso">Termos de uso</a></li>#}
            <li><a href="/termo-de-privacidade">Termo de privacidade</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="box-cookies hide">
    <div class="lgpd-body">
      <p>Utilizamos cookies para uma melhor experiência de navegação. Ao continuar no site você estará de acordo com a
        nossa <a href="/termo-de-privacidade">Política de Privacidade</a>.</p>
    </div>
    <div class="btn-cookies">Aceito</div>
  </div>

</footer>
