{% if customPage.produtosLista is defined and customPage.produtosLista is not empty %}
  <div class="col-lg-3">
    {% for produto in customPage.produtosLista %}
      <a target="{{ produto.link.target }}" href="{{ produto.link.url }}" class="img chamada"
         style="background-image:url({{ produto.imagem }});">
        <img src="{{ produto.imagem }}"/>
        <div class="text">
          <div class="table">
            <div class="cell">
              {{ produto.titulo }}{#<span>Conheça</span>#}
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endif %}
