
{% block paragraph %}
    {% set field_galeria_descricao = content.field_galeria_descricao|render|striptags|trim %}
    {% set field_galeria_titulo = content.field_galeria_titulo|render|striptags|trim %}
    {% set field_galeria_dia = content.field_galeria_dia|render|striptags|trim %}
    {% set field_galeria_imagem = content.field_galeria_imagem ? file_url(content.field_galeria_imagem['#items'].entity.uri.value) : '' %}

    <li{{ attributes.addClass(['gallery-item col-12 col-md-4 p-1']) }} data-id="{{ field_galeria_titulo }}" data-day="{{field_galeria_dia|split('-')|reverse.0}}">
      <a 
        data-id="{{ field_galeria_titulo }}"
        data-title="{{field_galeria_titulo}}"
        href="{{field_galeria_imagem}}" 
        title="{{field_galeria_descricao}}">
          <img width="100%" height="100%" aria-label="{{field_galeria_titulo}}" alt="{{field_galeria_descricao}}" src="{{field_galeria_imagem}}" />
        </a>
    </li>
{% endblock paragraph %}
